*{
    margin: 0;
    padding: 0;
}

.left {
    background-color: #FFAAAA;

}
.right{
    background-color: #AAAAFF;

}
.column{
    float: left;
    align-items: center;
    width: 50%;
    height: 100vh;
    
}
img {
    border: none;
    border-radius: 4px;
    padding: 10px 250px;    
    display: inline;
    margin-left: auto;
    margin-right: auto;
    
  }
.dod{
   height: 50vh;
   width: 25vw;    
  }

.computerHand{
    transform: rotateY(180deg);

}

.name{
    border: none;
    width: 25vw;
    height: 20vh;
    font-size: 2em;    
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;      
  
}


.playerOption >h4{
    border: none;
    font-size: 1.5em;
    padding: 15px;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fingerBtn{    
    background-color: #AAAAFF;        
    height:120px ;
    width: 120px;
    padding: 15px;
    border-radius: 50%;   
    box-shadow: 0px 0px 20px 10px; 
}
.menu {    
    color: black;
    position:absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    right:0;
    width:100vw;
    height:100vh; 
    background-color: #FFAAAA;   
    -webkit-transition:500ms width;
    -moz-transition:500ms width;
    -ms-transition:500ms width;
    -o-transition:500ms width;
    transition:500ms width;
    transition: opacity 0.5s ease;
        
      
}
h1{
    font-size: 100px;
  }

.menu button {
    width: 150px;
    height: 150px;
    border: none;    
    color: black;
    font-size: 20px;
    background: #AAAAFF;
    border-radius: 50%;     
    cursor: pointer;
}
.game {
    position:absolute;
    transition: opacity 0.9s ease 0.9s;
}
.fadeOut{
    opacity: 0;
    pointer-events: none;
}
.fadeIn {
    opacity: 1;
    pointer-events: all;
}
.rules{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) ; 
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: #AAAAFF;
 
}
.rule-header{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    
}
.rule-header .title {
    font-size: 1.25rem;
    font-weight: bold;
  }
.close-btn {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
    width:fit-content;
    height: fit-content;
}
.rule-body {
    padding: 10px 15px;
}
