*{
    margin: 0;
    padding: 0;
}

.left {
    background-color: #FFAAAA;

}
.right{
    background-color: #AAAAFF;

}
.column{
    float: left;
    align-items: center;
    width: 50%;
    height: 100vh;
    
}
img {
    border: none;
    border-radius: 4px;
    padding: 10px 250px;    
    display: inline;
    margin-left: auto;
    margin-right: auto;
    
  }
.dod{
   height: 50%;
   width: 50%;
    
  }

.computerHand{
    transform: rotateY(180deg);
    

  }
.name{
    border: none;
    width: 25vw;
    height: 20vh;
    font-size: 2em;    
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
       
  
}

.playerOption >h3{
    border: none;
    font-size: 1.5em;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fingerBtn{    
    background-color: #AAAAFF;        
    height:120px ;
    width: 120px;
    border-radius: 50%;   
    box-shadow: 0px 0px 20px 10px; 
}
.menu {    
    color: black;
    position:absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    right:0;
    width:100vw;
    height:100vh; 
    background-color: #FFAAAA;   
    -webkit-transition:500ms width;
    -moz-transition:500ms width;
    -ms-transition:500ms width;
    -o-transition:500ms width;
    transition:500ms width;
        
      
  }
h1{
      font-size: 100px;
  }

  .menu button {
    width: 150px;
    height: 150px;
    border: none;    
    color: black;
    font-size: 20px;
    background: #AAAAFF;
    border-radius: 50%;     
    cursor: pointer;
  }
.game {
    position:absolute;
 }
section.fadeOut{
    opacity: 0;
    pointer-events: none;
 }
section.fadeIn {
    opacity: 1;
    pointer-events: all;
  }