*{
    margin: 0;
    padding: 0;
}
.left {
    background-color: #FFAAAA;

}
.right{
    background-color: #AAAAFF;

}
.column{
    float: left;
    align-items: center;
    width: 50%;
    height: 100vh;
    
}
img {
    border: none;
    border-radius: 4px;
    padding: 5px;    
    display: inline;
    margin-left: auto;
    margin-right: auto;
    
  }
.computerHand{
    transform: rotateY(180deg);
    

  }
  .name{
    border: none;
    width: 25vw;
    height: 20vh;
    font-size: 2em;    
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
  
}
.playerOption >h3{
    border: none;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fingerBtn{
    border:1px solid #FFAAAA;
    background-color: #FFAAAA;
    display: block-inline;
    height:120px ;
    width: 120px;
    border-radius: 50%;
    justify-content: space-around;

}
.menu {
    color: black;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: opacity 0.5s ease;
  }

  .menu button {
    width: 150px;
    height: 50px;
    background: none;
    border: 1px solid #FFAAAA;
    color: #f8f6f6;
    font-size: 20px;
    background: #AAAAFF;
    border-radius: 3px;
    cursor: pointer;
  }

div.fadeOut {
    opacity: 0;
    pointer-events: none;
  }